/* 
    Created on : 14-Jan-2016, 21:36:13
    Author     : Szilágyi
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300);
@import url(https://fonts.googleapis.com/css?family=Tangerine:400,700);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600,700,900&subset=latin,latin-ext);
*, *:after, *:before {
    box-sizing: border-box;

}
.container:before,
.container:after,
.group:before,
.group:after {
    content: " ";
    display: block;
}
.container:after,
.group:after{
    clear: both;
}
.contrainer,
.group{
    *zoom:1 ;
}

@font-face {
    font-family: "Motion";
    src: url("../fonts/motion.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Light.ttf") format("truetype");
}
/*--------------HEADER--------------*/

.header{
    position: relative;
    background-color: white;
    background-image: url("../img/Kosice_Main2.jpg"); 
    background-repeat: no-repeat;
    background-size: 1920px auto;
    background-position: center top;
    display: block;
    
    width: 100%;
    height: 200px;
    margin: auto;
    
    
    
    
}
.containerbg{
    width:100%;
    height:98%;
    position: absolute;
    
    background-image: url("../img/Kosice_Main.jpg");
    background-size: 1920px auto;
    background-repeat: no-repeat;
    background-position: center top;
    padding-bottom: 0px;
    /* colors blue #6795c9 yellow #f3d400 gray #002e48 */
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
    -o-filter: blur(4px);
    filter: blur(4px);
    
    z-index: 0;
}

.containerbgcolor{
    width:100%;
    height:100%;
    z-index: 1;
    max-width: 1920px;
    position: relative;
    margin: auto;
    display: block;
    padding-bottom: 0px;
    background: rgba(50, 50, 50, .5);
}
.container{
    position: absolute; /*newly added*/
    z-index: 500;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    padding: 20px;
    
    color: white;
        
}

#kosicetext{
    width: 320px;
    margin-left: 3%;
    margin-right: 400px;
    vertical-align: middle;
}

#kosicetext:hover{
    
}

.nav{
    height: 160px;
    display: inline-block;
    margin-left: 0%;
    width: 48%;
}

.nav a{
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.buttons{
    border-bottom: 5px solid white;
    border-style: hidden;
    height: 160px;
    line-height: 160px;
    width: 18%;
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
}

.buttons:hover{
    border-bottom-style: solid;
    cursor: pointer;
    text-shadow: 0px 0px 10px #6795c9;
}

@media screen and (max-width: 1530px) {
    #kosicetext{
        margin-right: 300px;
    }
}