/* 
    Created on : 14-Jan-2016, 21:36:13
    Author     : Szilágyi
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300);
@import url(https://fonts.googleapis.com/css?family=Tangerine:400,700);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600,700,900&subset=latin,latin-ext);
*, *:after, *:before {
    box-sizing: border-box;

}
.container:before,
.container:after,
.group:before,
.group:after {
    content: " ";
    display: block;
}
.container:after,
.group:after{
    clear: both;
}
.contrainer,
.group{
    *zoom:1 ;
}


/*--------------MAIN--------------*/
body{
    width: 100%;
    margin: auto;
    min-width: 1366px;
    background-color: white;
}

.mainpart{
    
    background-color: white;
    margin: auto;
    z-index: 2;
    width: 1000px;
    margin: auto;
    margin-top: 20px;
    height: 100%;
}

